.nav {
  padding: 3rem 0;
  transition: all 0.2s linear;
  transform-origin: top;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: $nav-height;
  background-color: $color-white;
  box-shadow: 0 1px 25px rgba($color-black, 0.1);

  &__logo {
    position: relative;

    & .logo {
      top: 0;
    }
  }

  &--hover {
    cursor: pointer;
  }

  &__sub-menu {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $color-white;
    justify-content: space-evenly;
    padding: 2rem 0 6rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 80px 10px rgba($color-black, 0.1);
  }

  &__img {
    width: 10rem;
    height: 10rem;
  }

  &__button {
    cursor: pointer;
  }

  & li {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__notification {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: $color-white;
    background-color: $color-black;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    margin-left: 5px;
    font-size: 80%;
  }

  &:hover {
    transform-origin: bottom;
  }

  &.hide {
    top: -100px;
  }

  & .list-pages > li {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 120%;
      left: 0;
      background: $color-primary-orange;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.2s;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
}
