<html>
  <body>
    <div class="list-group sidebar bg-dark h-100">
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="user"
        >User</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="product"
        >Product</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="order"
        >Order</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="category"
        >Category</a
      >
      <a
        class="list-group-item list-group-item-action text-light bg-dark"
        href="feedback"
        >Feedback</a
      >
    </div>
  </body>
</html>
