.detail {
  margin-bottom: 15rem;

  &__product-image {
    width: 80rem;
    margin-left: 8rem;
    transition: all 0.3s linear;
    cursor: crosshair;
  }

  &__product-name {
    font-size: 3rem;
  }

  &__row {
    display: flex;
    height: 47rem;
    margin: 3rem 0 8rem;
  }

  &__productdetails {
    margin-left: 10rem;
    margin-right: 8rem;
  }

  &__price {
    display: block;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 700;
    color: $color-primary-blue;
    word-spacing: 2rem;
    .sale-price{
      font-size: 4rem;
    }
    .original-price{
      font-size: 3rem;
      color: $color-dark-4;
      text-decoration: line-through;
    }
  }

  &__stock {
    // margin-right: 1rem;
    margin: 2rem 1rem 2rem 0;
    word-spacing: normal;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
    .status-label{
      font-weight: 700;
    }
  }
  &__stock > span div {
    display: block;
    font-weight: none;
    margin-left: 2.3rem;
  }

  &__qty-add-cart {
    // -ms-flex-line-pack: center;
    // align-content: center;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin: 2rem 0;

    div label {
      // -ms-flex-item-align: center;
      // align-self: center;
      font-weight: 700;
      margin: 0 1.3rem 0 0;
      text-transform: capitalize;
      font-size: 2rem;
      // display: inline-block;
      margin-bottom: 0.5rem;
      letter-spacing: 1.5px;
    }

    div input {
      border-radius: 2rem;
      padding: 0 1rem;
      text-align: center;
      width: 7rem;
      height: 3.5rem;
      border: 1px solid #e5e5e5;
    }
  }

  &__info {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: $color-primary-orange;
  }
  &__p {
    display: block;
    margin-bottom: 1rem;
  }
  &__area {
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: 1px solid #e5e5e5;
    padding: 2rem 8rem;
  }

  &__product-name {
    font-weight: 600;
    line-height: 4rem ;
    word-spacing: 1px ;
    margin-right: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 0.6rem;
    color: $color-primary-orange;
  }

  &__items_container {
    & > span {
      display: flex;
      line-height: 2.1rem;
      margin-bottom: 0.9rem;
      margin-left: 4rem;
      position: relative;
    }

    & li {
      padding-left: 1.5rem;
      margin-left: 2rem;
      position: relative;

      &::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-primary-orange;
        position: absolute;
        top: 30%;
        left: 0;
      }
    }
  }

  &__content {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  &__final {
    padding-top: 5rem;
  }
  &__feedback{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    & i{
      color: $color-primary-orange;
    }
  }
  &__feedback-comment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    & i{
      color: $color-primary-orange;
    }
  }
  &__feedback-container{
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: 1px solid #e5e5e5;
    padding: 2rem 4rem;
  }
  &__feedback-date{
    color: $color-primary-blue;
  }
  &__feedback-overall{
    & i{
      color: $color-primary-orange;
    }
  }
  &__feedback-column{
    justify-content: space-around;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__feedback-overall-score{
    text-transform: capitalize;
    text-align: center;
    margin: 5rem;
    font-size: 7rem;
  }
  &__overall-container{
    margin: 3rem;
    padding: 0;

  }
  &__feedback-bar-container{
    justify-content: space-between;
    width: 60%;
    text-align: right;
    .bar-5 {margin: 0.5rem;width: 80%; height: 18px; background-color: $color-primary-orange;}
    .bar-4 {margin: 0.5rem;width: 70%; height: 18px; background-color: $color-primary-orange;}
    .bar-3 {margin: 0.5rem;width: 60%; height: 18px; background-color: $color-primary-orange;}
    .bar-2 {margin: 0.5rem;width: 40%; height: 18px; background-color: $color-primary-orange;}
    .bar-1 {margin: 0.5rem;width: 55%; height: 18px; background-color: $color-primary-orange;}
  }
}

.btn-add-cart {
  background: $color-primary-orange;
  border-radius: 2.9rem;
  color: $color-white;
  line-height: 4rem;
  margin-left: 1.5rem;
  padding: 0 4.1rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-brown;
    color: $color-white;
    transition: 0.5s;
  }
}

.share-btn-container{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  a {
    margin: 12px 0px;
    transition: 500ms;
  }
  a:hover {
    transform: scale(1.2);
  }
  a i{
    font-size: 30px;
  }
  .fa-facebook {
    color: #1877f2;
  }
  .fa-twitter {
    color: #1da1f2;
  }
  .fa-linkedin {
    color: #0077b5;
  }
  .fa-pinterest {
    color: #e60023;
  }
}

.fa-heart {
  color: $color-red;
  display: inline-block;
  margin-top: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.shoe-size-container{
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  .shoe-size-label{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .shoeSize-Dropdown {
    width: 50%;
    height: 35px;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
  }
}