.wishlist{
    min-height: calc(100vh - 26.6rem - 10rem - 5rem); // minus footer height, nav height,.. 

    overflow: hidden;

    &__noti {
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        width: 50%;
        overflow: hidden;
    }

    &__title{
        overflow: hidden;
        display: flex;
        width: 200%;
        &__text {
            width: 50%;
            font-size: 4rem;
            text-align: center;
            color: $color-primary-orange;
            font-weight: 700;
            margin-top: 5rem;
            margin-bottom: 2rem; 
        }
    }

    &__slide {
        position: relative;
        display: flex;
        justify-content: space-between;
        border: 1px solid lightgrey;
        border-radius: 5px;
        overflow: hidden;
        &__control {
            width: 100%;
            height: 100%;
            z-index: 1;
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-align: center;
            cursor: pointer;
            &.wish {
                color: black;
            }
        }
        &__tab {
            position: absolute;
            height: 100%;
            width: 50%;
            left: 0;
            z-index: 0;
            border-radius: 5px;
            background: -webkit-linear-gradient(left, $color-primary-orange, $color-primary-blue);
            transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
        } 
    }

    &__page{
        margin: 0  auto 10rem;
        display: flex;
        overflow: hidden;
        width: 200%;
    }

    &__table{
        max-width: 120rem;
        width: 50%;
        border-collapse: collapse;
        font-size: 2rem;
        &__header{
            text-align: left;
            color: $color-primary-blue;
            border-bottom: 2px solid $color-primary-orange;
            // background: $color-primary-orange;
            font-weight: 700;
            padding: 0.75rem;
        }
        tr:not(:last-child){
            border-bottom: 2px solid #FF7D00;
        }
        td{
            padding: 2rem 0 0 1rem;
            input{
                width: 5.5rem;
                height: 3rem;
                padding: 0.5rem;
            }
            button{
                border: none;   
            }
        }
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        line-height: 2rem;
        align-items: center;
        img{
            width: 13rem;
            height: 13rem;
            margin-left: -1rem;
        }
        div{
            margin-left: 1.5rem;
            line-height: 4rem;
        }
    }
    &__addcart{
        background-color:$color-primary-pink;
        padding: 1rem 3rem;
        font-weight: bold;
        color: $color-primary-blue;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-orange;
            color: $color-white;
        }
    }
    &__product-name {
        color: $color-primary-blue;
        font-weight: 700;
    }
    &__product-price {
        color: $color-primary-orange;
        font-weight: 700;
    }
    .fa, .fas {
        font-weight: 900;
        font-size: large;
    }
}

input[type="radio"] {
    display: none;
}

#wishlist:checked ~ .wishlist__slide {
    &__tab{
        left: 50%;
    }
    &__control{
        &.wish{
            color: white;
        }
        &.recent{
            color: black;
        }
    }
}