<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/nav'); -%>
    <div class="container">
      <h1 class="clientorder__name">My Orders</h1>
      <div class="clientorder__container">
        <table>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Products</th>
            <th>Status</th>
          </tr>
          <tr>
            <td class="clientorder__name">Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>ádasdas</td>
          </tr>
          <tr>
            <td class="clientorder__name">Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>ádasa</td>
          </tr>
        </table>
      </div>
    </div>
    <%- include('../partials/footer'); -%> <%-
    include('../partials/script-line'); -%>
  </body>
</html>
