<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <div%- include('../partials/nav'); -%>
    <div class="detail">
      <div class="container">
        <div class="detail__container">
          <nav>
            <ul class="breadcrumb">
              <li class="breadcrumb-items">
                <a href="home">Home</a>
              </li>
              <span>&ThickSpace;&#62;&ThickSpace;</span>
              <li class="breadcrumb-item active">Product Details</li>
            </ul>
          </nav>
        </div>
        <div class="detail__container">
          <div class="detail__row">
            <div class="detail__product-image">
              <img src="uploads/" alt="item-image" />
            </div>
            <div class="detail__productdetails">
              <h3 class="detail__product-name"></h3>
              <span class="detail__price">&dollar;</span>
              <span class="detail__stock">
                <b>In stock: </b>

                <b>Out of stock</b>

                <span> SKU PR_ </span>
              </span>
              <div class="detail__qty-add-cart">
                <label for="detail__qty">Quantity</label>
                <input type="number" placeholder="1" id="detail__qty" />
                <div class="btn-add-cart" href="cart">Add to cart</div>
              </div>
              <div class="detail__buttons">
                <div class="btn-add-wishlist" href="wishlist">
                  Add to wish list
                </div>
              </div>
              <p class="detail__final"></p>
            </div>
          </div>
          <div class="detail__area">
            <div class="detail__container">
              <div class="detail__info">Product Details</div>
              <div class="detail__content">
                <div class="detail__items">
                  <div class="detail__items_container"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="detail__feedback-container">
            <div>
              <div class="detail__feedback-overall">
                <div class="detail__info">Overall Ratings</div>
                <div class="detail__feedback-column">
                  <div class="detail__feedback-overall-score">
                    <a>4.8/5.0</a>
                  </div>
                  <div class="detail__overall-container">
                    <div>
                      <div>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <a class="fa fa-star" aria-hidden="true"></a>
                      <a>300 Feedbacks</a>
                    </div>
                    <div class="detail__feedback">
                      <div>
                        <ul>5 stars</ul>
                        <ul>4 stars</ul>
                        <ul>3 stars</ul>
                        <ul>2 stars</ul>
                        <ul>1 star</ul>
                      </div>
                      <div class="detail__feedback-bar-container">
                        <div class="bar-5"></div>
                        <div class="bar-4"></div>
                        <div class="bar-1"></div>
                        <div class="bar-2"></div>
                        <div class="bar-3"></div>
                      </div>
                      <div>
                        <ul>200</ul>
                        <ul>100</ul>
                        <ul>10</ul>
                        <ul>5</ul>
                        <ul>50</ul>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                  
              </div>
              <div>
                <div>
                  </div>
                  <div class="detail__info">Feedback</div>
                <div class="detail__feedback-comment">
                <div>
                  <ul>Hoang Tien Dat</ul>
                  <div>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="detail__feedback-date">
                  <a> Jul 06</a>
                </div>
              </div>
              <hr>
                <div class="detain__items_container">
                  This is a feedback, something really long, really arrogant about the product. There is not much left to
                  talk about but i want to make it right and clearly because of my ego
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); -%> <%-
    include('../partials/script-line'); -%>
  </body>
</html>
